<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.testblinking" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TestBlinking</name>
    <description>Blind spot vision test</description>
    <author email="alejandro.bello.iglesias@gmail.com" href="https://cordova.apache.org">
        Alejandro Bello Iglesias
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
